In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [5]:
df =  pd.read_excel("crimepred.xlsx")

In [6]:
df.sample(5)

,State,Year,Gender,Location,Victims_Above_50_Yrs,Victims_Total,Victims_Upto_10_15_Yrs,Victims_Upto_10_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs
10,Haryana,2011,Female Victims,Rohtak,6,156,3,2,1,97,47
13,Haryana,2014,Female Victims,Narnaul,15,143,1,3,4,80,40
65,Chandigarh,2017,Male Victims,Rock Garden,1,11,0,0,0,7,3
63,Chandigarh,2015,Male Victims,Fitness Trails,2,10,0,1,0,2,5
17,Haryana,2018,Female Victims,Jind,14,213,4,2,6,99,88

In [7]:
df.describe()

,Year,Victims_Above_50_Yrs,Victims_Total,Victims_Upto_10_15_Yrs,Victims_Upto_15_18_Yrs,Victims_Upto_18_30_Yrs,Victims_Upto_30_50_Yrs
count,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000,78.000000
mean,2014.384615,15.038462,189.448718,3.000000,5.410256,89.051282,72.256410
std,2.834073,19.976247,242.007118,4.321496,8.356405,111.180665,103.824582
min,2010.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,2.000000,14.250000,0.000000,0.000000,5.250000,5.250000
50%,2014.000000,6.000000,75.500000,1.000000,1.000000,29.000000,24.000000
75%,2017.000000,23.000000,351.500000,5.000000,8.000000,135.250000,99.250000
max,2019.000000,100.000000,831.000000,20.000000,47.000000,367.000000,381.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   78 non-null     object
 1   Year                    78 non-null     int64
 2   Gender                  78 non-null     object
 3   Location                78 non-null     object
 4   Victims_Above_50_Yrs    78 non-null     int64
 5   Victims_Total           78 non-null     int64
 6   Victims_Upto_10_15_Yrs  78 non-null     int64
 7   Victims_Upto_10_Yrs     78 non-null     object
 8   Victims_Upto_15_18_Yrs  78 non-null     int64
 9   Victims_Upto_18_30_Yrs  78 non-null     int64
 10  Victims_Upto_30_50_Yrs  78 non-null     int64
dtypes: int64(7), object(4)
memory usage: 6.8+ KB

In [9]:
dataset = pd.DataFrame()
dataset['State'] = df['State']
dataset['Year'] = df['Year']
dataset['Total_Cases'] = df['Victims_Total']

In [10]:
dataset.head()

   State  Year  Total_Cases
0  Delhi  2010          152
1  Delhi  2011          130
2  Delhi  2012          131
3  Delhi  2013          125
4  Delhi  2014          158

In [11]:
#dealing with categorical features
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [15]:
dataset.iloc[:,0] = le.fit_transform(dataset.iloc[:,0])
# 0 - Chandigarh
#1 - Delhi
#2 - Goa

In [16]:
dataset.head()

   State  Year  Total_Cases
0      1  2010          152
1      1  2011          130
2      1  2012          131
3      1  2013          125
4      1  2014          158

In [17]:
#seperating the features and label
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [18]:
x.head()

   State  Year
0      1  2010
1      1  2011
2      1  2012
3      1  2013
4      1  2014

In [19]:
y.head()

0    152
1    130
2    131
3    125
4    158
Name: Total_Cases, dtype: int64

In [20]:
# Spliting dataset into training and testing dataset
from sklearn.model_selection import train_test_split

In [21]:
#We will keep 20% data for testing purpose and 80% data for training purpose
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [23]:
#training the model
from sklearn.linear_model import LinearRegression

In [24]:
regressor = LinearRegression()

In [25]:
#starting training of model
regressor.fit(x_train,y_train)

LinearRegression()

In [26]:
y_pred = regressor.predict(x_test)

In [28]:
y_pred

array([312.36218098,  45.27727569, 173.00847331, 348.08793101,
       265.01392091, 229.28817089, 155.1455983 ,  45.27727569,
        -8.31134935, 137.28272329, 357.01936851,   9.55152567,
       101.55697327,  54.20871319, 119.41984828, 247.1510459 ])

pd.DataFrame(
{
    'ACTUAL': y_test,
    'PREDICT': y_pred
}).head()

In [32]:
#model performance
from sklearn import metrics
metrics.mean_absolute_error(y_test , y_pred)
#better score better prediction

168.90067371114742

In [33]:
metrics.r2_score(y_test , y_pred)

0.038442167671550176

In [35]:
import pickle
pickle.dump(regressor,open('model.pkl','wb'))

In [36]:
model = pickle.load(open('model.pkl','rb'))

In [41]:
print(model.predict([[1,2012]]))

[110.48841077]

/Users/apple/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(